* {
    font-family: sans-serif;
    
}

body {
    background-color: #E9F5F8;
    height: 100%;
    padding: 0;
    margin: 0;
}

.contenedor_fondo {
    background-color: #E9F5F8;
    height: 80%;
}

.titulo {
    text-align: center;
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
}

/* NAV*/
.contenedor_header {
    background-color: #ca1dc5;
    opacity: 0.6;
    margin: 0;
    padding-top: 40px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    
}


.contenedor_header ul li a {
    display: inline;
    list-style: none;
    text-decoration: none;
    color: #F3F3F3;
    font-size: 17px;
    padding: 10px;
}

/* PARRAFOS */

.contenedor_texto {
    margin: 70px 250px 70px 270px;
    padding: 30px 70px;
    position: relative;
    text-align: center;
    border: 2px solid #B300AD;
}


/* VIDEO */

.contenedor_video {
    height: 400px;
    width: 600px;
    margin: 10px 250px 0px 100px;
    padding: 30px 100px 150px 100px;
    position: relative;
    display: inline;
}

video {
    height: 400px;
    width: 600px; 
    margin-left: 80px;  
}


.contenedor_herramientas {
    display: flex;
    flex-direction: row;
    height: 350px;
    margin: 100px 100px 400px 120px;

}


.herramienta {
    padding-top: 100px;
    margin-left: 100px;
}

.herramienta iframe {
    width: 350px;
    height: 200px;
}



/* FOOTER */

.contenedor_footer {
    background-color: #ca1dc5;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 20px;
    text-align: center;
}

.contenedor_fondo li {
    display: inline;
    list-style: none;
    color: #F3F3F3;
   font-size: 15px;
}

p {
    font-size: 15px;
}
/* FORMULARIO */

form {
    width: 450px;
    margin: auto;
    background: #fa1af2;
    opacity: 0.55;  
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
}

#boton {
    background-color: #F3F3F3;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}